<div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
            <nz-card class="info">
                <div class="avatar">
                    <img src="https://gw.alipayobjects.com/zos/antfincdn/XAosXuNZyF/BiazfanxmamNRoxxVxka.png">
                </div>
                <div class="name">
                    龚祎垄
                </div>
                <div class="signature">个人签名：种树最好的时间是十年前，其次是现在！</div>
                <div>
                    <p><i nz-icon nzType="trophy" nzTheme="outline"></i>&nbsp;数据工程师</p>
                    <p><i nz-icon nzType="partition" nzTheme="outline"></i>&nbsp;珠海市规划设计研究院-信息中心-综合开发部</p>
                    <p><i nz-icon nzType="home" nzTheme="outline"></i>&nbsp;广东省珠海市</p>
                </div>
                <nz-divider></nz-divider>
                <div clss="tags">
                    <h4><i nz-icon nzType="tag" nzTheme="outline"></i>&nbsp;标签</h4>
                    <nz-tag [nzColor]="'magenta'">程序员</nz-tag>
                    <nz-tag [nzColor]="'red'">打篮球</nz-tag>
                    <nz-tag [nzColor]="'volcano'">技术宅</nz-tag>
                    <nz-tag [nzColor]="'orange'">电影</nz-tag>
                    <nz-tag [nzColor]="'gold'">深度学习</nz-tag>
                    <nz-tag [nzColor]="'lime'">福建人</nz-tag>
                </div>
                <nz-divider></nz-divider>
                <div clss="tags">
                    <h4><i nz-icon nzType="smile" nzTheme="outline"></i>&nbsp;个人博客：</h4>
                    <a href="https://blog.csdn.net/m0_37970224?spm=1001.2014.3001.5343">
                      https://blog.csdn.net/m0_37970224?spm=1001.2014.3001.5343</a>
                </div>
            </nz-card>
        </div>
    </div>

    <!-- 信息详情 -->
    <div nz-col class="gutter-row" [nzSpan]="18">
        <div class="inner-box">
            <nz-card class="info-detail">
                <nz-tabset>
                    <nz-tab nzTitle="基本信息">
                        <div nz-row class="base-info">
                            <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">
                                <i nz-icon nzType="smile" nzTheme="outline"></i><label>&nbsp;姓名：龚祎垄</label>
                            </div>
                            <div nz-col [nzXs]="{ span: 11, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">
                                <i nz-icon nzType="man" nzTheme="outline"></i><label>&nbsp;性别：男</label>
                            </div>
                            <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">
                                <i nz-icon nzType="tags" nzTheme="outline"></i><label>&nbsp;民族：汉族</label>
                            </div>
                        </div>
                        <div nz-row class="base-info">
                            <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">
                                <i nz-icon nzType="star" nzTheme="outline"></i><label>&nbsp;政治面貌：共青团员</label>
                            </div>
                            <div nz-col [nzXs]="{ span: 11, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">
                                <i nz-icon nzType="home" nzTheme="outline"></i><label>&nbsp;籍贯：福建泉州</label>
                            </div>
                            <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">
                                <i nz-icon nzType="notification" nzTheme="outline"></i><label>&nbsp;出生年月：1993.11</label>
                            </div>
                        </div>
                        <div nz-row class="base-info">
                            <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">
                                <i nz-icon nzType="phone" nzTheme="outline"></i><label>&nbsp;联系电话：18030073431</label>
                            </div>
                            <div nz-col [nzXs]="{ span: 11, offset: 1 }" [nzLg]="{ span: 10, offset: 2 }">
                                <i nz-icon nzType="mail" nzTheme="outline"></i><label>&nbsp;电子邮箱：gongyilong@zhghy.com</label>
                            </div>
                        </div>
                        <div nz-row class="base-info">
                            <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 10, offset: 2 }">
                                <i nz-icon nzType="environment" nzTheme="outline"></i><label>&nbsp;联系地址：珠海市规划设计研究院（梅华东路302号）</label>
                            </div>
                        </div>
                    </nz-tab>
                    <nz-tab nzTitle="教育经历">
                        <div nz-row class="base-info">
                            <div nz-col [nzXs]="{ span: 4, offset: 1 }" [nzLg]="{ span: 4, offset: 2 }">
                                <i nz-icon nzType="trophy" nzTheme="outline"></i><label>&nbsp;2009 - 2012</label>
                            </div>
                            <div nz-col [nzXs]="{ span: 4, offset: 1 }" [nzLg]="{ span: 4, offset: 2 }">
                                <label>泉州实验中学</label>
                            </div>
                            <div nz-col [nzXs]="{ span: 4, offset: 1 }" [nzLg]="{ span: 4, offset: 2 }">
                                <label>高中</label>
                            </div>
                            <div nz-col [nzXs]="{ span: 4, offset: 1 }" [nzLg]="{ span: 4, offset: 1 }">
                                <label>无</label>
                            </div>
                        </div>
                        <div nz-row class="base-info">
                            <div nz-col [nzXs]="{ span: 4, offset: 1 }" [nzLg]="{ span: 4, offset: 2 }">
                                <i nz-icon nzType="trophy" nzTheme="outline"></i><label>&nbsp;2012 - 2016</label>
                            </div>
                            <div nz-col [nzXs]="{ span: 4, offset: 1 }" [nzLg]="{ span: 4, offset: 2 }">
                                <label>厦门理工学院</label>
                            </div>
                            <div nz-col [nzXs]="{ span: 4, offset: 1 }" [nzLg]="{ span: 4, offset: 2 }">
                                <label>本科</label>
                            </div>
                            <div nz-col [nzXs]="{ span: 4, offset: 1 }" [nzLg]="{ span: 4, offset: 1 }">
                                <label>空间信息与数字技术</label>
                            </div>
                        </div>
                        <div nz-row class="base-info">
                            <div nz-col [nzXs]="{ span: 4, offset: 1 }" [nzLg]="{ span: 4, offset: 2 }">
                                <i nz-icon nzType="trophy" nzTheme="outline"></i><label>&nbsp;2017 - 2020</label>
                            </div>
                            <div nz-col [nzXs]="{ span: 4, offset: 1 }" [nzLg]="{ span: 4, offset: 2 }">
                                <label>福建师范大学</label>
                            </div>
                            <div nz-col [nzXs]="{ span: 4, offset: 1 }" [nzLg]="{ span: 4, offset: 2 }">
                                <label>硕士</label>
                            </div>
                            <div nz-col [nzXs]="{ span: 4, offset: 1 }" [nzLg]="{ span: 4, offset: 1 }">
                                <label>地图学与地理信息系统</label>
                            </div>
                        </div>
                    </nz-tab>
                    <nz-tab nzTitle="工作经历">
                        <div nz-row [nzJustify]="'space-between'" class="base-info">
                            <div nz-col [nzXs]="{ span: 6, offset: 1 }" [nzLg]="{ span: 6, offset: 1 }">
                                <label class="company">厦门精图信息技术有限公司</label>
                            </div>
                            <div nz-col [nzXs]="{ span: 6, offset: 1 }" [nzLg]="{ span: 6, offset: 1 }">
                                <label>Web前端工程师 - 智慧城建部</label>
                            </div>
                            <div nz-col [nzXs]="{ span: 6, offset: 1 }" [nzLg]="{ span: 6, offset: 1 }">
                                <label>2016年6月 - 2016年10月</label>
                            </div>
                        </div>
                        <div nz-row class="base-info">
                            <div nz-col [nzXs]="{ span: 21, offset: 1 }" [nzLg]="{ span: 21, offset: 1 }">
                                <p>1、主要负责“重庆市江北区智能井盖管理系统”项目</p>
                                <p>2、采用Ionic混合开发框架实现移动端开发</p>
                                <p>3、参与公司自主研发的“第三代智能井盖管理信息平台”开发工作</p>
                            </div>
                        </div>
                        <nz-divider></nz-divider>
                        <div nz-row [nzJustify]="'space-between'" class="base-info">
                            <div nz-col [nzXs]="{ span: 6, offset: 1 }" [nzLg]="{ span: 6, offset: 1 }">
                                <label class="company">珠海市规划设计研究院</label>
                            </div>
                            <div nz-col [nzXs]="{ span: 6, offset: 1 }" [nzLg]="{ span: 6, offset: 1 }">
                                <label>数据工程师 - 综合研发部</label>
                            </div>
                            <div nz-col [nzXs]="{ span: 6, offset: 1 }" [nzLg]="{ span: 6, offset: 1 }">
                                <label>2020年7月 - 至今</label>
                            </div>
                        </div>
                        <div nz-row class="base-info">
                            <div nz-col [nzXs]="{ span: 21, offset: 1 }" [nzLg]="{ span: 21, offset: 1 }">
                                <p>1、负责“金湾区智慧排水”项目；</p>
                                <p>2、负责档案系统建设；</p>
                                <p>3、负责深度学习算法研究与产品落地；</p>
                            </div>
                        </div>
                    </nz-tab>
                </nz-tabset>
            </nz-card>
        </div>
    </div>
</div>
